{% extends "layout.html" %}

{% block content %}
 <aside>     
<h1>
    <CENTER>
            <b>
        <!--<font face="Korean Icons "SIZE="20">ELC</font> -->
               <font color="#272BA7" SIZE="20" > VETERINARIA NEVERITA </font>
        <!--<font face="Korean Icons "SIZE="20">ELC</font> -->
            </b>
    </CENTER>
      
</h1>
      
      
              <br> 
              <br> 
              <br>
      
      <!--contenedores div-->
<div class="container">
    
     <div class="row">
         
     <!--Div 1--> 
                <div class="col-xs-12 col-md-4">
                    
                            <h2><b><center><font color="#000000"SIZE="6"> Perros</font></center></b></h2>

                            <Center> 
                              <a href="https://www.nationalgeographic.com.es/animales/perros">
                                <button> <img src="/static/imagenes/perros.jpg" width="240" /></button>
                              </a> 
                             
                            
                            </Center>
                            
                </div>
      
      <!--Div 2--><div class="col-xs-12 col-md-4">
                            <h4><b><center><font color="#000000" SIZE="6">Gatos</font></center></b>   </h4>
                            
                            <Center> 
                              <a href="https://www.nationalgeographic.es/animales/gato-domestico">
                                <button> <img   src="/static/imagenes/gatos.jpg"  width="230px"/></button>
                              </a>
                              
                            </Center>
                </div>
                
      <!--Div 3-->
                <div class="col-xs-12 col-md-4" >
        
                            <h3><b><center><font color="#000000" SIZE="6"> Aves</font></center></b></h3>       
                       
                            <Center>
                              <a href="https://www.nationalgeographic.com.es/animales/aves">
                                <button>  <img   src="/static/imagenes/aves.webp" width="230px" /></button>
                              </a>
                               
                            </Center>



                </div>

      </div>
      <br>
      <br>
      <div class="col-xs-12 col-md- 12" style="background-color:rgba(172, 160, 160, 0.664)" >

      <h><b><center><font color="#272BA7" SIZE="6"> RECOMENDACIONES</font></center></b>
      <br>
      <center><font color="black" SIZE="20" ><h2>Te compartimos las siguientes recomendaciones para sacar a tu mascota</h2></font></center> 
      <br>
      <b><h5>1.Lávate las manos antes de salir.</h5></b>
  
      Es importante que laves tus manos de forma adecuada con agua y jabón antibacterial durante al menos 20 segundos.
      <br>
      <br>
      <b><h5>2.Sólo una persona debe salir.</h5></b>
   
      Salir con la mascota debe hacerse en el menor tiempo posible para que ésta haga sus necesidades fisiológicas.
      <br>
      <br>
      <b><h5>3.Evita socializar con otras personas y/o mascotas.</h5></b>

      Mantén una distancia responsable de al menos 1.5 metros
      <br>
      <br>
      <b><h5>4.Aseo al regresar a casa.</h5></b>
 
      Limpia las patas de tu perro con agua o toallitas desinfectantes sin alcohol. Después lávate bien las manos y cámbiate de ropa.
      <br>
      <br>
      <b><h5>5.Sal a pasear temprano en la mañana y/o en la noche.</h5></b>
      Se sugiere salir a la calle en horarios donde sea más probable que haya menos gente transitando.



      </h>
    </div>
</div>
      <br>
      
    
   
      
      
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js" integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script>
    -->
  </aside>  
      
{% endblock %}